.login-form-wrapper{
    display: flex;
    align-items: center;
    height:100vh;
    justify-content: center;
}
.login-form-container{
    width :  350px;
    height : max-content;
    border:1px solid gray;
    display: flex;
    align-items: center;
    flex-direction: column;
    padding-top : 40px ;
    padding-bottom: 30px;
    border-radius: 20px;
    
}

.login-form{
    margin-top: 30px;
    width:100%;
    padding:0px 15px;
    margin-bottom: 20px;
}


.login-button{
    width: 100%;
}

.forget-password{
    color : blue;
    font-size : 12px;
}

.no-account span{
   color : rgb(35, 135, 228)
}