.top-bar{
   
    display :flex;
    align-items: center;
    justify-content: center;
    height:60px;
    border : 1px solid gray;
    color: rgb(121, 216, 219);
    width : 100%;
    border-radius: 10px;
    box-shadow: 3px 3px 3px gray;
    margin-top : 20px;
}

.top-bar img{
    height: 100%;
}
.posts-wrapper{
    width: 100%;
    margin :20px auto;
}
.card-wrapper{
    width: 100%;
}





/* div{
    border: 2px solid black;
}   */