@import url('https://fonts.googleapis.com/css2?family=Nunito+Sans:opsz@6..12&family=Open+Sans&display=swap');

*{
    margin:0px;
    padding:0px;
    box-sizing: border-box;
}

html,body,#root,.app{
    width: 100%;
    height: 100%;
    font-family: "Nunito-Sans",Arial, Helvetica, sans-serif;
}

.center {
    display:  flex;
    align-items: center;
    justify-content: center;

}
.center-v {
    display: flex;
    align-items: center;
}

.full-width{
    width: 100%;
}

.icon-large{
    font-size: 20px;
}
.icon-small{
    font-size: 15px;
}
.icon-medium{
    font-size: 17px;
}

.center-v-sb{
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.home{
    background-color: rgb(252, 240, 248);
}

.friends-list{
    margin: 20px auto;
    background-color: white;
    padding: 15px;
    border-radius: 12px;
}

/* .container-fluid{
    padding
} */