.avatar img{
    width : 40px;
    height: 40px;
}

.avatar div{
    width : 40px;
    height: 40px;
    background-color: aqua;
    text-align: center;
    font-size: 20px;
    text-transform: capitalize;
    display: flex;
    align-items: center;
    justify-content: center;
}
