.profile-head{
    display: flex;
    align-items: center;
    justify-content: space-between;
}
.profile-avatar{
    display: flex;
    align-items: center;
}
.profile-avatar-content{
    margin-left: 10px;
}
.profile-avatar-content .profile-avatar-name,p{
    margin: 0px;
    padding: 0px;
}