.card-wrapper{
    
    height: max-content;
    width: 80%;
    padding: 0px ;
    margin-bottom: 20px;
}
.card{
    width:100%;
    height:max-content;
    padding: 15px;
}
.card-img-top{
    height: 60%;
}

.post-head{
    display: flex;
    justify-content: space-between;
    margin-bottom: 15px;
}

.post-buttons{
    display: flex;
    align-items: center;
    justify-content: space-between;
    font-size: 20px;
    font-weight: 600;
    color:rgb(56, 108, 204)
}


.icon{
    font-size: 16px;
}

.comment-text{
    border:none;
    border-bottom: 1px solid black;
    outline:none
}